body {
    background-color: aquamarine;
}

#img1 {
    height: 50px;
    width: auto;
}

#head {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
}

#head1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.but {
    text-align: center;
}

.pushable {
    text-align: center;
    background: rgb(70, 255, 203);
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
  }
  .front {
    text-align: center;
    display: block;
    font-weight: bold;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: rgb(60, 248, 185);
    color: white;
    transform: translateY(-4px);
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

#img {
    height: 300px;
    width: auto;
    text-align: center;
    line-break: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
